body {
  font-family: 'Open Sans', sans-serif;
  background: #f4f4f4 !important;
}

a {
  box-sizing: border-box;
  text-align: center;
  min-width: 192px;
  text-decoration: none;
  color: black !important;
  transition: box-shadow 0.3s;
  &:hover {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.10);
    text-decoration: none;
  }
}

ul {
  list-style: none;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}

.view-container {
  display: flex;
  margin: 5vh auto;
  max-width: 1000px;
  height: 90vh;
  background: white;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 5px 7px 17px rgba(0,0,0,0.17);
}

/* Index **********************************************************************/

.no-car {
  text-align: center;
  align-self: center;
  color: #ddd;
  font-size: 32px;
  flex-grow: 1;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 100%;
  border-right: 1px solid #f4f4f4;
  flex-shrink: 0;
}

.illustration {
  width: 100%;
  height: 176px;
  background-size: cover;
  opacity: 0.5;
}

.logo {
  margin-top: -45px;
  border: 4px solid white;
  border-radius: 50%;
  z-index: 1;
}

.aside > h1 {
  font-size: 1.6em;
  margin: 1em 0;
}

.aside > img {
  width: 90px;
  height: 90px;
}

.aside > a {
  padding: 10px 17px;
  border-radius: 4px;
  border: 1px solid black;
  font-weight: 600;
}

.aside > p {
  padding: 0 20px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.4em;
  opacity: 0.6;
}


.list-container {
  width: calc(100% - 220px);
  height: 100%;
  background: #dbdbdb;
  overflow: scroll;
}

.car-logo {
  height: 120px;
}

.car-details {
  padding: 10px 20px;
  box-sizing: border-box;
}

.car-details > span {
  text-transform: uppercase;
  font-weight: 600;
}

.car-details > ul > li {
  margin-bottom: 4px;
}

.car-smallad {
  display: flex;
  position: relative;
  margin: 10px;
  height: 121px;
  border-bottom: 1px solid #f4f4f4;
  background: white;
}

.car-smallad > a {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Show ***********************************************************************/

.car-container {
  width: calc(100% - 220px);
  height: 100%;
  background: #dbdbdb;
  overflow: scroll;
}

.car-card {
  display: flex;
  align-items: center;
  position: relative;
  margin: 10px;
  background: white;
}

.car-picture {
  width: 220px;
  height: 220px;
}

.car-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plate {
  margin-top: 10px;
  width: 195px;
  padding: 10px 22px;
  font-size: 21px;
  text-align: center;
  border: 1px solid black;
}

.delete {
  position: absolute;
  width: 120px;
  bottom: 0;
  right: 0;
}

.delete > i {
  margin-right: 10px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: calc(100% - 220px);
  height: 100%;
  background-color: #dbdbdb;
  background-size: cover;
  background-position: center center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.6;
  z-index: 1;
}

form {
  position: relative;
  background: white;
  padding: 20px;
  width: 420px;
  z-index: 2;
}

label {
  font-weight: 600;
}

button {
  padding: 10px 17px;
  margin-left: -2px;
  border-radius: 0 2px 2px 0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  border: none;
  background-color: #D23333;
  color: white;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}
